
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;

  }

html{
    scroll-behavior: smooth;}

    body{
        background-color: rgb(210, 219, 219);
    }

    .banner{
        max-height: auto;
        max-width: auto;
        text-align-last: center;
        margin: 30px;
       
    }
    header{
        background-color: rgb(142, 182, 175);
        display: flex;   
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;

}
    header img{
        max-height: 150px;
   
}
    header nav{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    nav ul{
        white-space: nowrap;
        max-width: 1300px;
        margin:0;
    }
    nav li{
        width: 25%;
        display: inline-block;
        text-align: center;
        
    }
    nav li a{
        text-decoration: none;
        color: rgb(221, 217, 216);
        font-weight: bold;
        font-size: 25px;
        border:2px solid rgb(73, 54, 78);
        padding: 10px;  
    }
   
     h2{
        font-size: 22px;
        text-align-last: center;
        background-color: rgb(142, 182, 175);
        padding: 15px;
    }

    #news img{
        max-width: 250px;
        border: 3px solid white;
        margin-top: 30px;
        margin-bottom: 30px;
        
    }

    .list-news {
        display: flex;
        flex-direction: row;
        text-align: center;
        font-style:italic;
        text-justify: newspaper;
    }

  
    li{
        list-style-type: none;
        margin:25px;
    }
    
    #join p{
        margin: 20px;
    }
    #join {
        margin-bottom: 50px;
    }
    @media (max-width: 100px){
        #video {
            position: relative;    
        }
    }

    #contact{
        background-color: rgb(131, 133, 133);
        text-align: center;
        padding: 30px;
      
    }

    #contact h3{
        font-size: 20px;
        padding: 15px;
    }

    #contact p{
        font-size: 15px;
        padding: 15px;
    }

    form input, textarea{
        background-color: rgb(219, 215, 215);
        padding: 10px;
    }
   
    
    form #submit{
        background-color: rgb(63, 163, 130);
    }

    footer{
        background-color: rgb(142, 182, 175);
        text-align: end;
        text-decoration:none;
        padding: 20px;
    }
      
      footer > ul {
        display: flex;
        justify-content: flex-end;
      }
      
      footer > ul > li {
        padding: 0 10px;
      }
     
    #submit:hover{
        background-color: greenyellow;

    }