
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    
    
  }

html{
    scroll-behavior: smooth;}

    body{
        background-color: rgb(210, 219, 219);
    }

    .banner{
        max-height: auto;
        max-width: auto;
        text-align-last: center;
        margin: 30px;
       
    }
header{
    background-color: rgb(142, 182, 175);
    display: flex;   

}
header img{
    max-height: 200px;
   
}
    header nav{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    nav ul{
        white-space: nowrap;
        max-width: 1700px;
        margin:0;
    }
    nav li{
        width: 30%;
        display: inline-block;
        text-align: center;
        
    }
    nav li a{
        text-decoration: none;
        color: rgb(221, 217, 216);
        font-weight: bold;
        font-size: 30px;
        border:2px solid rgb(73, 54, 78);
        padding: 10px;
        
    }
   
   
     h2{
        font-size: 30px;
        text-align-last: center;
        background-color: rgb(142, 182, 175);
        padding: 15px;
    }

    #news img{
        max-width: 250px;
        border: 3px solid white;
        margin-top: 30px;
        margin-bottom: 30px;

    }

    .list-news {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
  
    }
    #contact{
        background-color: rgb(174, 180, 179);
    }
    footer{
        background-color: rgb(142, 182, 175);
    }